.btn {
  padding: 0.9rem 2rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: 2rem;
  color: set-text-color($primary-color);

  cursor: pointer;
  border: 0;
  outline: 0;
  font-weight: 600;
  transition: all 0.3s;
  &:hover {
    transform: scale(0.95);
  }
}
.btn-primary {
  @extend .btn;
  background: lighten($primary-color, 20%);
}

.btn-secondary {
  @extend .btn;
  background: $secondary-color;
}
.btn-color {
  @extend .btn;
  background: rgb(165, 2, 189);
  background: linear-gradient(
    90deg,
    rgba(165, 2, 189, 1) 0%,
    rgba(16, 205, 236, 1) 100%
  );
}
