//* HERO MOBILE
.hero {
  @include flex(row, wrap, center, center, 0);
  background-image: url("../images/hero-sm.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &__content {
    @include flex(row, wrap, flex-start, center, 0);
    height: 100%;
    backdrop-filter: blur(2px);
    padding: 10rem 2rem 5rem;
    .hero__info {
      @include flex(column, wrap, center, center, 1rem);
      text-align: center;
      padding: 2rem;
      &__vice__heading {
        font-size: 1.8rem;
        text-shadow: 1px 1px #a953f4;
      }
      &__heading {
        font-size: 4rem;
        font-weight: 900;
        color: white;
        text-shadow: 2px 2px #a953f4;
      }
      &__parag {
        color: #a953f4;
        text-shadow: 1px 1px white;
      }
    }
  }
}

//* HERO DESKTOP
@media screen and (min-width: 769px) {
  .hero {
    background-image: url("../images/hero.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 850px;
    justify-content: flex-start;

    &__content {
      backdrop-filter: blur(0px);
      justify-content: flex-start;
      .hero__info {
        background-color: rgb(255, 255, 255, 0.8);
        border-radius: 1rem;
        text-align: left;
        width: 700px;
        align-items: flex-start;
        &__vice__heading {
          font-size: 2.5rem;
          align-self: center;
          font-weight: 900;
        }
        &__heading {
          font-size: 8rem;
          color: rgba(189, 0, 250, 1);
          text-shadow: 2px 2px white;
        }
      }
    }
  }
}
