//* Tokinomics-Mobile

.tokenomics {
  @include flex(column, wrap, center, center, 3rem);
  background-image: url("../images/tokenomics2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 5rem 0 0;
  &__heading {
    font-size: 5rem;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 5rem;
    span {
      background: -webkit-linear-gradient(rgb(131, 58, 180), rgb(170, 10, 106));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__content {
    @include flex(column, wrap, flex-start, center, 0);
    padding: 0 2rem;
    .token {
      @include flex(column, wrap, center, center, 2rem);
      padding: 5rem 1rem;
      width: 100%;
      height: 350px;
      font-family: "Inter", sans-serif;
      background: rgb(131, 58, 180);
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
      img {
        width: 100px;
      }
      &__title {
        font-size: 2rem;
        font-weight: bold;
      }
      &__info {
        font-size: 1.5rem;
        text-shadow: 2px 2px black;
        text-align: center;
      }
    }
    .tax {
      width: 100%;
      min-width: 250px;
      &:nth-child(3) {
        border: 0;
        border-radius: 0 0 15px 15px;
      }
    }
    .one {
      border-radius: 15px 15px 0 0;
    }
    .two {
      border-top: 4px solid white;
      border-bottom: 4px solid white;
      background: rgb(48, 46, 190);
      background: linear-gradient(
        90deg,
        rgba(48, 46, 190, 1) 0%,
        rgba(253, 29, 149, 1) 0%,
        rgba(140, 69, 252, 1) 100%
      );
    }
    .three {
      border-bottom: 6px solid white;
      border-radius: 0 0 0 0;
      background: rgb(48, 46, 190);
      background: linear-gradient(
        90deg,
        rgba(48, 46, 190, 1) 0%,
        rgba(0, 122, 21, 1) 0%,
        rgba(247, 252, 69, 1) 100%
      );
    }
    .four {
      border-radius: 0 0 15px 15px;
    }
  }
  .footer {
    @include flex(row, nowrap, center, center, 0);
    border-top: 2px solid white;
    width: 100%;
    height: 10rem;
    backdrop-filter: blur(10px);
    &__content {
      @include flex(row, wrap, center, center, 3rem);
      i {
        font-size: 3rem;
        color: purple;
        transition: all 0.4s;
        &:hover {
          color: white;
        }
      }
    }
  }
}

//* Token-Desktop
@media screen and (min-width: 768px) {
  .tokenomics {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    height: 1200px;
    position: relative;
    z-index: 5;
    &__heading {
      font-size: 8rem;
      z-index: 5;
      margin: 0;
      transform: translateY(0rem);
    }
    &__content {
      transform: translateY(0);
      flex-direction: column;
      z-index: 5;
      .token {
        max-width: 400px;
        height: 400px;
        padding: 4rem 2rem;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          transform: scale(1.1);
        }
        &__title {
          font-size: 3rem;
        }
        p {
          text-align: left;
        }
      }
      .tax {
        min-width: 250px;
        &:nth-child(1) {
          background: rgb(48, 46, 190);
          background: linear-gradient(
            90deg,
            rgba(48, 46, 190, 1) 0%,
            rgba(0, 122, 21, 1) 0%,
            rgba(247, 252, 69, 1) 100%
          );
        }
        &:nth-child(2) {
          background: rgb(131, 58, 180);
          background: linear-gradient(
            90deg,
            rgba(131, 58, 180, 1) 0%,
            rgba(253, 29, 29, 1) 50%,
            rgba(252, 176, 69, 1) 100%
          );
        }
        &:nth-child(3) {
          border: 0;
          border-radius: 0 15px 15px 0;
          background: rgb(48, 46, 190);
          background: linear-gradient(
            90deg,
            rgba(48, 46, 190, 1) 0%,
            rgba(253, 29, 149, 1) 0%,
            rgba(140, 69, 252, 1) 100%
          );
        }
      }
      .one {
        border-radius: 15px 0 0 15px;
        .token__title {
          font-size: 2.5rem;
        }
      }
      .two {
        border: 0;
        border-left: 6px solid white;
        border-right: 6px solid white;
      }
      .three {
        border-radius: 0 0 0 0;
        border: 0;
        border-right: 6px solid white;
        background: rgb(48, 46, 190);
        background: linear-gradient(
          90deg,
          rgba(48, 46, 190, 1) 0%,
          rgba(0, 122, 21, 1) 0%,
          rgba(247, 252, 69, 1) 100%
        );
      }
      .four {
        border-radius: 0 15px 15px 0;
      }
    }
    .footer {
      height: 150px;
      i {
        font-size: 5rem !important;
      }
    }
  }
}

//* Token-DesktopXL
@media screen and (min-width: 1200px) {
  .tokenomics {
    &::before {
      content: url("../images/blob-tk.png");
      position: absolute;
      top: -20rem;
      left: 40%;
      z-index: 5;
    }
  }
}
